PORT=3000
APP_BASE_URL=http://localhost:3000
DB_JSON_FILE=data/db.json
UPLOAD_MAX_MB=500
PLATFORM_FEE_PERCENT=5
PAYOUT_MODE=manual_eft
PAYFAST_MODE=sandbox
PAYFAST_MERCHANT_ID=10000100
PAYFAST_MERCHANT_KEY=46f0cd694581a
PAYFAST_PASSPHRASE=
PAYFAST_SANDBOX_URL=https://sandbox.payfast.co.za/eng/process
PAYFAST_LIVE_URL=https://www.payfast.co.za/eng/process
PAYFAST_VALIDATE_SERVER=true
NOTIFY_PROVIDER=console
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
