node_modules/
.env
*.log
exports/*.csv
!exports/.gitkeep
data/backups/*
!data/backups/.gitkeep
storage/uploads/*
!storage/uploads/.gitkeep
storage/quarantine/*
!storage/quarantine/.gitkeep
storage/packages/*
!storage/packages/.gitkeep
storage/rejected/*
!storage/rejected/.gitkeep
storage/reports/*
!storage/reports/.gitkeep
